@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Onest', ui-sans-serif, system-ui, sans-serif;
}

#root {
    background-color: #000000;
    min-height: 100vh;
}
